rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated and is the owner of the resource
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Rules for user profile
    match /users/{userId} {
      allow read, write: if isOwner(userId);

      // Rules for user portfolio
      match /portfolio/{portfolioId} {
        allow read, write: if isOwner(userId);
      }

      // Rules for user trades
      match /trades/{tradeId} {
        allow read, write: if isOwner(userId);
      }

      // Rules for user alerts
      match /alerts/{alertId} {
        allow read, write: if isOwner(userId);
      }

      // Rules for user tickets
      match /tickets/{ticketId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
